@media screen and (min-width: 801px) {
  .main_content {
    grid-area: main_content;
    display: flex;
    width: 100%;
  }

  .title_details_container {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    background-color: var(--dark-desaturated-blue);
    border-radius: 1rem 0 0 1rem;
    padding: 5rem;
  }

  .title {
    color: var(--white);
  }

  .title span {
    color: var(--soft-violet);
  }

  .more_details {
    color: var(--slight-transparent-white-2);
  }

  .stats_container {
    display: flex;
    justify-content: space-between;
    margin: 3rem 3rem 0 0;
  }

  h2 {
    color: var(--white);
    text-align: center;
  }

  h2 span {
    display: block;
    font-size: 1rem;
    font-weight: var(--font-weight-400);
    font-family: var(--font-fam-lexend-deca);
    color: var(--slight-transparent-white-2);
    letter-spacing: 0.2rem;
    padding: 0.5rem;
  }

  .image_container {
    background-image: url("../images/image-header-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 1rem 1rem 0;
    background-blend-mode: overlay;
    background-color: var(--soft-violet);
    width: 100%;
  }
}
